### Librerias

In [3]:
import random
import math
import pandas as pd
import numpy as np

### Importar los Datos

In [4]:
experencia_siniestral = pd.read_csv('./experiencia_siniestral_por_poliza.csv')
frecuencias_historicas = pd.read_csv('./frecuencias_historicas_por_poliza.csv')

In [5]:
experencia_siniestral.head()

   Monto Pagado  Poliza A  Poliza B  Poliza C
0          5000       610       456       551
1         10000        77       501       959
2         15000       262       170       174
3         20000       628       726       523
4         25000       274       887       526

In [6]:
frecuencias_historicas.columns = ['Indice', 'A (NOA)', 'B (Cuyo)', 'C (Centro)']
frecuencias_historicas = frecuencias_historicas.set_index('Indice')

frecuencias_historicas.head()

        A (NOA)  B (Cuyo)  C (Centro)
Indice
0             2         4           2
1             2         2           1
2             4         1           1
3             3         4           0
4             4         3           1

In [7]:
PROBABILIDADES = pd.DataFrame(data={
    'Poliza': ['A (NOA)', 'B (Cuyo)', 'C (Centro)'],
    'Probabilidad': [0.31, 0.17, 0.52]
})
PROBABILIDADES.set_index('Poliza', inplace=True)
# PROBABILIDADES['Probabilidad'].get('A (NOA)')
PROBABILIDADES

            Probabilidad
Poliza
A (NOA)             0.31
B (Cuyo)            0.17
C (Centro)          0.52

### Valores de la serie

In [8]:
def valores(xi,ni):
    Esp_i = np.mean(xi)*np.mean(ni)
    var_s_i = np.mean(ni)*np.var(xi) + np.var(xi)*np.mean(xi)**2
    sigma_ries_i = var_s_i **0.5
    pi_i = Esp_i + 0.34576566*sigma_ries_i
    return {'Esperanza:':float(Esp_i),'Varianza:':float(var_s_i),'Sigma(riesgos)':float(sigma_ries_i),'pi':float(pi_i)}

#### A (NOA)

In [9]:
x_A = experencia_siniestral['Poliza A']
n_A = frecuencias_historicas['A (NOA)']
valores_A = valores(x_A,n_A)
valores_A

{'Esperanza:': 789.0500000000001,
 'Varianza:': 21445810373.67887,
 'Sigma(riesgos)': 146443.88131184885,
 'pi': 51424.315274753084}

#### (B) Cuyo

In [10]:
x_B = experencia_siniestral['Poliza B']
n_B = frecuencias_historicas['B (Cuyo)']
valores_B = valores(x_B,n_B)
valores_B

{'Esperanza:': 2248.25,
 'Varianza:': 21738115974.72185,
 'Sigma(riesgos)': 147438.51591331844,
 'pi': 53227.42576418905}

#### (C) Centro

In [11]:
x_C = experencia_siniestral['Poliza C']
n_C = frecuencias_historicas['C (Centro)']
valores_C = valores(x_C,n_C)
valores_C

{'Esperanza:': 437.05,
 'Varianza:': 24365110189.87341,
 'Sigma(riesgos)': 156093.27400587575,
 'pi': 54408.74390820247}

### Simular procesos de Poisson

In [ ]:
l = 0.5 # landa 
t = 0 # momento t
I = 0 # Numero del evento
S = {} # lista de los tiempros de cada evento
T= 10 # instante n-esimo
random.seed(123) # fijar la semilla del proceso  random
while True:
    U = random.random()
    t = 1-l**-1 * math.log(U)
    I +=1
    S[I] = t
    if t>T:
        break

In [17]:
print(f'''
Valores de S(T): {S}
Valores de T: {T}
''')

Valores de S(T): {1: 1.3253071868256276, 2: 2.942810681477065, 3: 4.675493336902887, 4: 3.516227622292746, 5: 3.7886321883828673, 6: 1.6201500337907562, 7: 7.2571727564443576, 8: 2.6622750120128202, 9: 1.36471815107856, 10: 4.43491970032982, 11: 3.8124208265491126, 12: 12.039130794172905}
Valores de T: 10